/* from xsl:query.xsl (D) from
                    https://www.w3.org/TR/xpath-functions-31*/
div.exampleInner pre {
	margin-left: 1em;
	margin-top: 0em;
	margin-bottom: 0em
}

pre.small {
	font-size: small
}

div.exampleOuter {
	border: 4px double gray;
	margin: 0em;
	padding: 0em
}

div.exampleInner {
	background-color: #d5dee3;
	padding: 4px;
	margin: 0em
}

div.exampleInner table {
	border: 0;
	border-spacing: 0;
}

div.exampleInner td {
	vertical-align: baseline;
	padding: 0;
}

div.exampleWrapper {
	margin: 4px
}

div.exampleHeader {
	font-weight: bold;
	margin: 4px
}

div.proto {
	border: 0;
	border-spacing: 0;
}

div.issue {
	border-bottom-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	margin-bottom: 20pt;
}

th.issue-toc-head {
	border-bottom-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
}

div.schemaComp {
	border: 4px double gray;
	margin: 0em 1em;
	padding: 0em;
}

div.compHeader {
	margin: 4px;
	font-weight: bold;
}

span.schemaComp {
	background-color: white;
	color: #A52A2A;
}

div.compBody {
	border-top-width: 4px;
	border-top-style: double;
	border-top-color: #d3d3d3;
	padding: 4px;
	margin: 0em;
}

div.exampleInner {
	background-color: #d5dee3;
	color: black;
	border-top-width: 4px;
	border-top-style: double;
	border-top-color: #d3d3d3;
	border-bottom-width: 4px;
	border-bottom-style: double;
	border-bottom-color: #d3d3d3;
	padding: 4px;
	margin-bottom: 4px;
}

div.issueBody {
	margin-left: 0.25in;
}

code.function {
	font-weight: bold;
}

code.return-type {
	font-style: italic;
}

code.return-varies {
	font-weight: bold;
	font-style: italic;
}

code.type {
	font-style: italic;
}

code.as {
	font-style: normal;
}

code.arg {
	
}

code.strikeout {
	text-decoration: line-through;
}

code.small {
	font-size: small;
}

p.table.footnote {
	font-size: 8pt;
}

table.casting {
	font-size: x-small;
}

table.hierarchy {
	font-size: x-small;
}

table.proto {
	
}

td.castY {
	background-color: #7FFF7F;
	color: black;
	text-align: center;
	vertical-align: middle;
}

td.castN {
	background-color: #FF7F7F;
	color: black;
	text-align: center;
	vertical-align: middle;
}

td.castM {
	background-color: white;
	color: black;
	text-align: center;
	vertical-align: middle;
}

td.castOther {
	background-color: yellow;
	color: black;
	text-align: center;
	vertical-align: middle;
}

span.cancast:hover {
	background-color: #ffa;
	color: black;
}

div.protoref {
	margin-left: 0.5in;
	text-indent: -0.5in;
}

dd.indent {
	margin-left: 2em;
}

p.element-syntax {
	border: solid thin;
	background-color: #ffccff
}

p.element-syntax-chg {
	border: solid thick yellow;
	background-color: #ffccff
}

div.proto {
	padding: .5em;
	border: .5em;
	border-left-style: solid;
	page-break-inside: avoid;
	margin: 1em auto;
	border-color: #ff99ff;
	background: #ffe6ff;
	overflow: auto;
}

div.example-chg {
	border: solid thick yellow;
	background-color: #40e0d0;
	padding: 1em
}

div.ffheader {
	margin-top: .8rem;
	font-size: 140%;
	font-variant: all-small-caps;
	text-transform: lowercase;
	font-weight: bold;
	color: hsla(203, 20%, 40%, .7);
}

span.verb {
	font: small-caps 100% sans-serif
}

span.error {
	font-size: small
}

span.definition {
	font: small-caps 100% sans-serif
}

span.grayed {
	color: gray
}

table.scrap td {
	vertical-align: baseline;
	text-align: left;
	padding-left: 30px;
}

table.data
                    table.index {
	border-bottom: 2px !important;
}